---
layout: default
---
<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8" id="bio">
        <h1>Trent Weiss</h1>           
        <p>
           I am a PhD Candidate in Computer Science at the University of Virginia Link Lab, working with Professor Madhur Behl.
           My undergraduate studies were in Mechinical Engineering with a focus on Mechatronics.  
           Before joining the Link Lab in 2017, I was a robotics engineer with the Research & Technology division of The Boeing Company.
        </p>
        <p>
           My research interests are in Robotics and Autonomous/Cyber-Physical Systems.
           Specifically, I am interested in improving autonomous vehicles by taking them to their extreme limit in autonomous racing scenarios.
           
        </p>
        <p style="text-align:center">
            <a target="_blank" href="https://mailhide.io/e/Frcae4jL">Email</a> &nbsp;/&nbsp;
            <a href="https://github.com/TrentWeiss" target="_blank">GitHub</a> &nbsp;/&nbsp;
            <a href="https://scholar.google.com/citations?hl=en&user=D_JNlFsAAAAJ" target="_blank">Google Scholar</a> &nbsp;/&nbsp; 
            <a href="https://www.linkedin.com/in/trent-weiss-20419723" target="_blank">LinkedIn</a>
        </p>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="portrait" src="images/portrait.jpg">
    </div>
</div>

{% include publications.html %}
{% include patents.html %}
{% include teaching.html %}
{% include awards.html %}
{% include other.html %}
